<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()"></form>
<h1>TinyMCE 5 Angular Demo</h1>
<editor
  [formControl]="myForm.controls.body"
  [init]="{
    height: 500,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
    toolbar:
      'undo redo | formatselect | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | removeformat | help'
  }"
></editor> -->

<div class="container">
  <mat-tab-group #tabGroup mat-align-tabs="center" (selectedTabChange)="handleTabChange($event)">
    <mat-tab label="First">
      <editor [init]="init" *ngIf="activeTabIndex === 0"></editor>
    </mat-tab>
    <mat-tab label="Second">
      <editor [init]="init" *ngIf="activeTabIndex === 1"></editor>
    </mat-tab>
    <mat-tab label="Third">
      <editor [init]="init" *ngIf="activeTabIndex === 2"></editor>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- <h1>TinyMCE 5 Angular Demo</h1> -->
<!-- <editor [init]="init"></editor> -->

<!-- *ngIf="activeTabIndex===0" -->