<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()"></form>
<h1>TinyMCE 5 Angular Demo</h1>
<editor
  [formControl]="myForm.controls.body"
  [init]="{
    height: 500,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
    toolbar:
      'undo redo | formatselect | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | removeformat | help'
  }"
></editor> -->

<!-- <div class="container">

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
</div> -->

<h1>TinyMCE 5 Angular Demo</h1>
<editor
  [init]="init"
></editor>
